@using System.Drawing

@inject ProgressBarViewModel vm

<div @onclick="vm.OnClick">
	<div class="fill" style="display: flex; flex-direction: row">
		<div style="width: @(100 * vm.Value / Math.Max(1, vm.Maximum))%; height: 100%; padding: 0; background-color: #@vm.BarColor.ToRgba()" />
		<div style="width: @(100 * vm.Increment / Math.Max(1, vm.Maximum))%; height: 100%; padding: 0; background-color: #@vm.IncrementColor1.ToRgba()" />
		<div style="width: @(100 * vm.Increment / Math.Max(1, vm.Maximum))%; height: 100%; padding: 0; background-color: #@vm.IncrementColor2.ToRgba()" />
		<div style="width: @(100 * vm.Increment / Math.Max(1, vm.Maximum))%; height: 100%; padding: 0; background-color: #@vm.IncrementColor3.ToRgba()" />
	</div>
	<div class="fill overlay" style="display: flex; flex-direction: row; justify-content: space-between">
		<span style="width: 33%; text-align: left">
			@vm.LeftText
		</span>
		<span style="width: 33%; text-align: center">
			@vm.CenterText
		</span>
		<span style="width: 33%; text-align: right">
			@vm.RightText
		</span>
	</div>
</div>